<h1><%= @machine.location %> Vending Machine</h1>
<% @machine.snacks.each do |snack| %>
<h3><%= snack.name %></h3><br>
<h5>Price: $<%= snack.price %></h5><br>
<% end %>
<h3>Average Price: <%= @machine.average_price %></h3>
